body {
    background-color: rgb(255, 255, 255);
    /*rgb(26, 26, 25);*/
}

.movie_title {
    background-color: rgb(75, 75, 75);
    color: rgb(181, 172, 172);
}

.container img {
    border-radius: 19px;
    height: 345px;

}

.movie_column {
    background-color: white;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    width: 570px;
    min-height: 280px;
    max-height: 280px;
    overflow: hidden;
    position: relative;
}

.movie_column_expanded {
    min-height: 280px;
    max-height: none;
    /* overflow: inherit; */
    background-color: white;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    width: 570px;
    overflow: auto;
}

.button {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 25px;
}


.movie_year {
    color: rgb(181, 172, 172);
    margin-left: 10px;
}

.movie {
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
    align-items: flex-end;
}