body {
    background-color: rgb(26, 26, 25);
}

.movie_title {
    background-color: black;
    color: rgb(181, 172, 172);
}

.container img {
    border-radius: 19px;
}

.movie_column {
    background-color: white;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    width: 570px;
    margin-top: 65px;
    /* height: 280px; */
    max-height: 280px;
    overflow: hidden;
    position: relative;
    transition: height 0.3s ease-in;
}

.movie_column_expanded {
    max-height: auto;
    background-color: white;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    width: 570px;
    overflow: hidden;
}

.movie_year {
    color: rgb(181, 172, 172);
    margin-left: 10px;
}

.movie {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-left: 50px;
}